.app_wrapper {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
}

.main {
  background-color: yellow;
  display: flex;
  flex: 1;
}

.left {
  background-color: pink;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

.content {
  background-color: teal;
  padding: 3em 0 3em 0;
  flex: 5 5 150px;
}

.right {
  background-color: green;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
}

.footer {
  background-color: aqua;
  padding: 1em 0 1em 0;
}

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
    padding: 5em 0 5em 0;
  }
}
