:root {
  --color-primary: red;
  --color-primary-variant: red;
  --color-danger: red;
  --color-success: red;
  --color-warning: red;
  --color-white: #fff;
  --color-info-light: blue;
  --color-info-dark: #7d8da1;
  --color-light: silver;
  --color-dark: grey;
  --color-dark-variant: grey;
  --color-background: #fff;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  appearance: none;
  box-sizing: border-box;
}

.muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}
b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  background: red;
  grid-template-columns: 13rem auto 23rem;
  gap: 1.8rem;
}

/*------------*/

aside .top {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
}

aside .close {
  display: none;
}

aside {
  height: 100vh;
  background: silver;
}

/*------------*/
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
